<ion-view style="background-color:#FF8500;">
    <ion-content padding="true" class="has-header">
        <div title="About">
            <img src="img/bFAsogQOS26YubOKE61E_thumb1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div style="width: 100%; text-align: center; background-color: #fff; padding: 10px 0; margin: 10px 0;">
            <h1 id="about-heading1" style="color:#000000;">DA VINCI</h1>
            <div id="about-markdown1" style="color:#000000;">
                <p>{{ 'INDEX_INFO_TEXT' | translate }}</p>
                <p>{{ 'INDEX_INFO_TEXT2' | translate }}</p>
                <p>{{ 'INDEX_INFO_TEXT3' | translate }}</p>
            </div>
            <h5 id="about-heading2" style="color:#000000;">{{ 'INDEX_INFO_TEXT4' | translate }}</h5>
        </div>
        <div style="float: left; margin-bottom: 20px;">
            <img src="img/wfvbNstnQcyiFE8NzCRO_thumb2.png" width="49%" height="auto" style="display: block; float: left; margin-right: 1%;">
            <img src="img/WqNtHkY7TkmvAJgkI6G6_thumb3.png" width="49%" height="auto" style="display:block; float: right; margin-left: 1%;">
        </div>
    </ion-content>
</ion-view>