<ion-view style="background-color:#FF7A00;">
    <ion-content title="OFFERS" padding="true" class="has-header">
        <div class="list card" id="oFFERS-card21">
            <ion-item class="item-avatar" id="oFFERS-list-item9">
                <h2>Offer 1</h2>
                <p>Available until 30/10/16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/qVp77IgHS1Ce8OiN8rNp_offer.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="oFFERS-list-item-container7">
                <div id="oFFERS-markdown10" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive" id="oFFERS-list-item11">
                <i class="icon ion-ios-cart"></i>{{ 'ADD_TO_CART' | translate }}</ion-item>
        </div>
        <div class="list card" id="oFFERS-card22">
            <ion-item class="item-avatar" id="oFFERS-list-item23">
                <h2>Offer 2</h2>
                <p>Available until 25/12/16</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/SZ7iAWkTRlOUhBdlWOC1_offer1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="oFFERS-list-item-container8">
                <div id="oFFERS-markdown9" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive" id="oFFERS-list-item24">
                <i class="icon ion-ios-cart"></i>{{ 'ADD_TO_CART' | translate }}</ion-item>
        </div>
    </ion-content>
</ion-view>