<ion-view style="background-color:#FF8400;">
    <ion-content title="Signup" padding="true" class="has-header">
        <formclass="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Mobile</span>
                <input type="tel" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <label class="item item-input">
                <span class="input-label">Street</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Town</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">County</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Postcode</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 26px;"></div>
            <a ui-sref="menu.home" id="signup-button12" class="button button-dark  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>